body {
    background-color: #888888;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
  }

  h1 {
      font-size: 300%;
      color: #fff;
  }

  p {
      margin-top: -25px;
      padding-bottom: 15px;
  }
  
  .container {
    /* background-color: #fff; */
    margin:5%;
    border-radius: 15px;
  }
  
  form {
    padding: 5%;
  }
  
  #display {
    padding: 0 5% 5% 5%;
  }

  .msg {
      color: #383838;
      margin-left: 2%;
  }

  label {
      padding-bottom: 15px;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #0099ff;
    border: none;
    color: white;
    padding: 10px 26px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 108%;
  }

  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #000;
  }